


body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.9;
  color: #1a1a1a;
}
a {
  color: #497F31;
}
a:hover,
a:focus {
  color: #375F25;
  text-decoration: underline;
}
a:active {
  color: #253F18;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0;
}
#logotype-container.brand {
  padding-right: 15px;
  border-color: #ccc;
  border-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}
#logotype-container img {
  max-width: 160px;
  margin-left: 4px;
}
.background-toc {
  background: #FFF;
  border-color: #ccc;
}
.nav-sidebar {
  border-color: #ccc;
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
}
.nav>li>a {
  font-weight: normal;
}
.nav-sidebar .nav li a {
  color: #1a1a1a;
}
ul.toc a:hover {
  border-left-color: transparent;
  background-color: #f0f0f0 !important;
} 
ul.toc .active > a {
  border-left-color: #6EBE49;
}
.nav-sidebar .nav li.active > a {
  color: #1a1a1a;
  background-color: #e6e6e6 !important;
  font-weight: bold;
}
#toc-placeholder ul ul a {
  font-size: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}
.nav-code-selection > li {
  padding: 2px;
}
.nav-code-selection > li > a {
  color: #1a1a1a;
  background-color: #fff;
  transition: background-color .2s;
}
.nav-code-selection > li > a:hover {
  color: #1a1a1a;
  background-color: #f0f0f0;
}
.nav-code-selection > li > a:active {
  background-color: #e6e6e6;
}
.nav-code-selection>li.active>a, 
.nav-code-selection>li.active>a:focus, 
.nav-code-selection>li.active>a:hover {
  background-color: #6EBE49;
}


.paligocode-wrapper > button[title="Copy to clipboard"],
.paligocode-wrapper > button[title="Copied"] {  
  font-size: 14px;
  line-height: 20px;
  padding: 6px 10px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all .3s;
  box-shadow: none;
  outline: none;
  top: 8px !important;
  right: 8px !important;
  color: #4d4d4d;
}
.paligocode-wrapper > button[title="Copy to clipboard"]:hover,
.paligocode-wrapper > button[title="Copy to clipboard"]:focus {
  background:#4d4d4d;
  border-color: #4d4d4d;
  color: #fff;
}
.paligocode-wrapper > button[title="Copy to clipboard"]:active {
  background:#1a1a1a;
  border-color: #1a1a1a;
  color: #fff;
}
.paligocode-wrapper > button[title="Copy to clipboard"]:hover .fa {
  color: #fff;
}
.paligocode-wrapper > button[title="Copied"] {
  background: #6EBE49;
  color: #FFF;
}
[data-code-view] .paligocode-wrapper pre.programlisting {
  background: #FFF;
  border-radius: 0 0 4px 4px;
  padding: 24px;
}
.informalexample.openapi-samples .code {
  background-color: transparent;
}
.entry-text .paligocode-wrapper pre.programlisting {
  background: #f5f5f5;
  padding: 16px;
  line-height: 16px;
}
.entry-text .panel-body {
  padding: 24px 30px 15px;
}
.panel-default >.panel-heading {
  padding: 16px;
}
.panel-heading h1, 
.panel-heading h2, 
.panel-heading h3,
.panel-heading h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.panel-heading .titlepage a[data-toggle="collapse"],
.panel-heading .titlepage a[data-toggle="collapse"]:hover, 
.panel-heading .titlepage a[data-toggle="collapse"]:active, 
.panel-heading .titlepage a[data-toggle="collapse"]:focus {
  color: #1a1a1a;
}
.panel-default>.panel-heading:hover {
  background-color: #e6e6e6;
}

#content-wrapper section .panel {
  border-radius: 4px;
  margin: 0;
  border-color: #e6e6e6;
}
#content-wrapper section .panel-heading {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}
#content-wrapper section .panel-heading.active {
  border-bottom: 1px solid #e6e6e6;
}
.nav-code-selection {
  font-size: 14px;
  line-height: 20px;
  background: #fff;
  border-bottom-color: #ccc;
}
.background-code {
  background: #e6e6e6;
}
[data-code-view] .samples-title {
  background-color: #f5f5f5;
  color: #1a1a1a;
  padding: 10px 24px;
}
.note, 
.tip {
  background-color: #E7EFFF;
  border: 1px solid #CFDEFF;
  border-radius: 4px;
}
.warning h3, 
.note h3, 
.important h3, 
.caution h3, 
.tip h3 {
  padding: 16px 16px 8px 48px;
  margin: 0;
  position: relative;
}
.warning > *, 
.note > *, 
.important > *, 
.caution > *, 
.tip > * {
  padding: 0 16px 8px 16px;
  margin: 0;
}
.warning h3:before, 
.note h3:before, 
.important h3:before, 
.caution h3:before, 
.tip h3:before {
  position: absolute;
  left: 16px;
  top: 19px;
}
.note h3:before, 
.tip h3:before {
  content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cg%20fill%3D%22%23709dff%22%3E%3Cpath%20d%3D%22M8%2016A8%208%200%201%200%208%200a8%208%200%200%200%200%2016zm.93-9.412l-1%204.705c-.07.34.029.533.304.533c.194%200%20.487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598c-.703%200-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081l.082-.381l2.29-.287zM8%205.5a1%201%200%201%201%200-2a1%201%200%200%201%200%202z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.warning h3:before, 
.important h3:before, 
.caution h3:before {
  content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2224%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cg%20fill%3D%22%23f5af18%22%3E%3Cpath%20d%3D%22M8.982%201.566a1.13%201.13%200%200%200-1.96%200L.165%2013.233c-.457.778.091%201.767.98%201.767h13.713c.889%200%201.438-.99.98-1.767L8.982%201.566zM8%205c.535%200%20.954.462.9.995l-.35%203.507a.552.552%200%200%201-1.1%200L7.1%205.995A.905.905%200%200%201%208%205zm.002%206a1%201%200%201%201%200%202a1%201%200%200%201%200-2z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.informalexample.openapi-responses, 
.informalexample.schema-sample,
.informalexample .response-language {
  background-color: #f5f5f5;
}
.response-language > span {
  padding: 5px 8px;
  background-color: #4d4d4d;
}
#content-wrapper .article {
  margin-top: 40px;
}



/******** RWD *********/

@media (max-width: 991px) {
  #toc-icon {
    display: none !important;
    padding: 9px 30px 0 0;
  }
  #toc-icon a {
    padding: 9px;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
  }
  #toc-icon a:hover {
    background: #f0f0f0;
    text-decoration: none;
  }
  #toc-icon a:active { 
    background: #e6e6e6;
  }
  #toc-container .affix {
    border-bottom-color: #ccc;
    background: #fff;
  }
  .background-toc {
    border: 0;
  }
  #logotype-container.brand {
    padding: 14px 30px;
  }
  #logotype-container img {
    margin: 0;
  }
  .entry-code .content .code {
    padding: 0;
  }
  #nav-code-selection {
    border-top: 1px solid #ccc;
    border-bottom: none;
    padding: 0 30px;
  }
  .nav-code-selection > li {
    padding: 4px 2px;
  }
}

@media (max-width: 768px) {
  .entry-code {
    background: #e6e6e6;
  }
}

@media (min-width: 768px) {
  #content-wrapper .entry-text,
  .background-container > .row > .col-sm-12 > .col-sm-6:first-child {
    width: 60%;
  }
  #content-wrapper .entry-code,
  #content-wrapper .toolbar > .col-sm-6,
  .background-container > .row > .col-sm-12 > .col-sm-6:last-child {
    width: 40%;
  }
  #content-wrapper .toolbar > .col-sm-6 {
    margin-left: 60%;
  }
}

@media (min-width: 1366px) {
  #content-wrapper .entry-text,
  .background-container > .row > .col-sm-12 > .col-sm-6:first-child {
    width: 65%;
  }
  #content-wrapper .entry-code,
  #content-wrapper .toolbar > .col-sm-6,
  .background-container > .row > .col-sm-12 > .col-sm-6:last-child {
    width: 35%;
  }
  #content-wrapper .toolbar > .col-sm-6 {
    margin-left: 65%;
  }
}


